* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.app {
    width: 100%;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.app > .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;  
    
    width: 100%;
    
    margin-top: 70px;

    overflow: auto;
}

.container > button {
    background-color: inherit;
    border: none;
    outline: none;
}