.creator {
    display: flex;
    flex-flow: column nowrap;
    
    
    width: auto;
    height: fit-content;

    margin-bottom: 10px;
    
    overflow: auto;
}

.creator img {
    width: 160px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
}

.meta {
    margin: 5px 0;
    text-align: start;
}

.meta .username {
    font-size: 14px;
}
.meta .profession {
    color: rgb(103, 103, 103);
    font-size: 13px;
}